@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: 100%/1.3 "Open Sans",sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.card-1 {
  background-color: #e97065;
}

.card-1 h2 {
  font-family: "Rammetto One";
}

.card-2 {
  background-color: #fbd25e;
}

.card-2 h2 {
  font-family: "Gravitas One";
}
.card-3 {
  background-color: #e86033;
}

.card-3 h2 {
  font-family: "Comfortaa";
}
